/* Desktop styles */
@media (min-width: 768px) {
  #menu {
    display: none;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background: none;
    padding: 0;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1200px;
    margin: auto;
  }
}
